<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ubicación IP</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn-icons-png.flaticon.com/512/535/535137.png"
    />
    <script src="code.js" text="text/javascript"></script>
  </head>

  <body>
    <header>
      Proyecto final - SpringBoot
      <br />
      <b>ip-locator</b>
    </header>
    <h1 class="mi-titulo">Localizador de IP</h1>

    <p>Da clic en el siguiente botón para mostrar tu ubicación</p>
    <button onclick="console.log('g')" type="button" id="search-location">
      ¿En donde estoy?
    </button>
    <br />
    <br />
    <iframe
      src="https://www.openstreetmap.org/export/embed.html?bbox=-89.68010902404787%2C20.94540864850228%2C-89.58432197570801%2C20.996701689117792&amp;layer=mapnik"
      id="mapa-ip"
      width="100%"
      height="350"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      title="Mapa de ubicación"
    ></iframe>
    <footer>
      Alumnos del proyecto:
      <ul id="estudiantes">
        <li class="nombre-estudiante">Roger</li>
        <li class="nombre-estudiante">Karla</li>
        <li class="nombre-estudiante">Sheila</li>
      </ul>
    </footer>
  </body>
</html>
